# example service that is ran separately from traefik
services:
  example:
    container_name: example
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    stop_grace_period: 0s
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.example.rule=Host(`example.com`)"
      - "traefik.http.routers.example.service=example"
      - "traefik.http.routers.example.priority=1000"
      - "traefik.http.routers.example.entrypoints=web"
      - "traefik.http.routers.example.entrypoints=websecure"
      - "traefik.http.routers.example.tls.certResolver=letsencrypt"
      - "traefik.http.services.example.loadbalancer.server.scheme=http"
      - "traefik.http.services.example.loadbalancer.server.port=80"

networks:
  default:
    external: true
    name: web
